body {
    background: black;
    font-family: sans-serif;
    color: white;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

a {
    text-decoration: none;
}

strong {
    font-weight: bold;
}
h1 {
    letter-spacing: 0.3em;
    text-transform: lowercase;
    font-size: 200%;
    text-align: center;
    margin: 1em 0 1em 0;
}
    h1 a {
        color: inherit;
    }
    h1 i {
        color: #777;
    }

h2 {
    font-size: 130%;
    margin: 1em 0 0.7em 0;
}

ol {
    list-style-type: decimal;
}
ol li {
    margin: 0.4em 0;
}

.header {
    width: 1500px;
    margin: 1em auto 1em auto;
    position: relative;
    overflow: hidden;
}
    .logo {
        float: left;
        padding: 7px 0 0 63px;
        height: 52px;
        background: url(../images/logo-globe-off.png) no-repeat;
    }
    .logo:hover {
        background-image: url(../images/logo-globe-on.png);
    }
    .about-link {
        float: right;
        font-weight: bold;
        font-size: 100%;
        text-transform: uppercase;
        color: white;
        padding: 0.7em 1em;
        margin: 0.5em 0 0 1em;
    }
    .about-link:hover {
        color: #4E97B5;
    }
    .logout-link {
        float: right;
        font-weight: bold;
        font-size: 100%;
        text-transform: uppercase;
        color: white;
        padding: 0.7em 1em;
        margin: 0.5em 0 0 1em;
    }
    .logout-link:hover {
        color: #4E97B5;
    }

.content {
    width: 1500px;
    margin: 1px auto;
    position: relative;
}

.container {
    position: relative;
}

.show {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    font-size: 90%;
}
    .hasJS .show {
        position: absolute; 
    }
    .show h2 {
        text-align: center;
        padding: 5px 0 5px 0;
        font-size: 12px;
        cursor: pointer;
    }

    .show h2:after {
        content: "";
        width: 19px;
        height: 8px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center right;        
    }

    .show.open h2:after {
        background-image: url(../images/triangle_up.png);
    }

    .show.closed h2:after {
        background-image: url(../images/triangle_down.png);
    }

    .show ul {
        text-align: center;
    }

    .show li {
        width: 100px;
        display: inline-block;
        padding: 8px;
        margin: 10px 20px 10px 20px;
    }

    .show li:hover {
        background-color: black;
    }

    .show li a {
        color: white;
        background-image: none;
    }

    .show span {
        display: block;
        text-align: center;
        margin: 0.5em 0 0 0;
    }

.image-grid {
    position: relative;
    z-index: 2;
}

body.about {
    background-image: url(../images/about-earth-bg.jpg);
    background-position: -120px 0;
}
    .main-column {
        float: left;
        width: 40em;
    }
    .main-column h2:first-child {
        margin-top: 0;
    }
    .right-column {
        float: right;
        width: 25em;
    }
    .right-column h3:first-child {
        margin-top: 0;
        font-size: 130%;
        margin-bottom: -0.5em;
    }
    .about .main-column,
    .about .right-column {
        margin-top: 2em;
    }
    .about p {
        margin: 0.5em 0 1.2em 0;
        line-height: 1.5em;
    }
    .about h2 {
        font-size: 160%;
        margin: 2em 0 0.8em 0;
        font-weight: bold;
    }
    .about h3 {
        margin: 0.6em 0 0.3em 0;
        font-weight: bold;
    }
    .about p a {
        color: #4E97B5;
    }

.recommended {
    margin: 0.5em 0;
}
    .recommended li {
        margin-top: 2em;
    }
    .recommended img {
        float: left;
    }
    .recommended h4 {
        margin-left: 145px;
        font-weight: bold;
    }
    .recommended p {
        margin-left: 145px;
    }
    .recommended a {
        color: #fff;
    }

.row {
    overflow: hidden;
}

.column {
    float: left;
    width: 375px;
    overflow: hidden;
}

.image {
    float: left;
    position: relative;
    overflow: hidden;
    width: 375px;
    height: 375px;
    border: 1px solid black;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    .image.in-group {
        border-color: #07FF00;
        border-width: 3px;
    }
    .image.group-hides {
        border-color: #F52906;
        border-width: 3px;
    }
    .image.large {
        width: 750px;
        height: 750px;
    }
    .image img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .image span {
        position: absolute;
        bottom: 0;
        z-index: 3;
        background-color:  rgba(0, 0, 0, 0.7);
        text-align: center;
        padding: 10px 0 10px 0;
        width: 100%;
    }

.large-image {
    text-align: center;
}
    .large-image .meta {
        text-align: left;
        padding: 0 0 1.5em 0;
    }
    .large-image .edit-link {
        float: right;
        margin: 0.7em 1.5em 0.7em -0.3em;
    }
    .large-image .more-button {
        float: right;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-image: url(../images/up.png);
        margin: 0.7em 35px 0.7em -0.3em;
    }
    .large-image .more-button.open {
        background-image: url(../images/down.png);
    }
    .large-image .twitter-share-button {
        float: right;
        margin: 0.7em 1.5em 0.7em -0.3em;
    }
    .large-image .main-image {
        max-width: 100%;
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
    }
    .large-image h2 {
        font-size: 140%;
        margin: 0.5em 0 0.5em 60px;
    }
    .large-image li {
        font-size: 90%;
        margin: 0 0 0.6em 60px;
    }
    .large-image a {
        color: inherit;
        text-decoration: underline;
    }
    .large-image a:hover {
        color: #4E97B5;
    }

.load-more {
    margin: 2em 0;
    font-size: 1.3em;
    cursor: pointer;
    text-align: center;
}
    .load-more .loading {
        color: red;
    }

form.rating {
    margin: 1em 0;
}

input.rating {
    padding: 10px 20px;
    font-size: 1.3em;
    border-radius: 3px;
    border: 0;
    background-color: #779BC8;
}
    input.rating.awesome, th.awesome {
        background-color: #779BC8;
    }
    input.rating.neutral, th.neutral {
        background-color: #B7BE1C;
    }
    input.rating.bad, th.bad {
        background-color: #B2221B;
    }
    input.rating.good, th.good {
        background-color: #3C8749;
    }

input.tag {
    padding: 10px 20px;
    font-size: 0.9em;
    border-radius: 3px;
    border: 0;
    background-color: #2E4D87;
    color: #fff;
}

.rate img {
    max-width: 100%;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
}
    .lightbox .close {
        position: absolute;
        top: 35px;
        right: 35px;
        cursor: pointer;
    }
    .lightbox .large-image .main-image {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        margin: auto auto;
    }
    .lightbox .large-image .meta {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
    }
    .lightbox .large-image .prev-arrow {
        position: absolute;
        top: 40%;
        left: 35px;
        width: 29px;
        height: 126px;
        background-image: url(../images/arrow_left_off.png);
    }
    .lightbox .large-image .prev-arrow:hover {
        background-image: url(../images/arrow_left.png);
    }
    .lightbox .large-image .next-arrow {
        position: absolute;
        top: 40%;
        right: 35px;
        width: 29px;
        height: 126px;
        background-image: url(../images/arrow_right_off.png);
    }
    .lightbox .large-image .next-arrow:hover {
        background-image: url(../images/arrow_right.png);
    }

table.leaderboard td, table.leaderboard th {
    padding: 1em;
    border: 1px solid #333333;
}

table.leaderboard th a {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

/**** 1148px wide layout ****/

@media (max-width: 1500px) {

    .content, .header {
        width: 1148px;
    }
    .column {
        width: 287px;
    }
    .image {
        width: 287px;
        height: 287px;
    }
    .image.large {
        width: 574px;
        height: 574px;
    }
    .large-image .main-image {
        width: 1148px;
    }

}

/**** 760px wide layout ****/

@media (max-width: 1150px) {

    .content, .header {
        width: 760px;
    }
    .column {
        width: 190px;
    }
    .image {
        width: 190px;
        height: 190px;
    }
    .image.large {
        width: 380px;
        height: 380px;
    }
    .large-image .main-image {
        width: 760px;
    }
    .show li {
        margin: 10px 2px 10px 2px;
    }

}

/**** 360px wide layout ****/

@media (max-width: 760px) {

    .logo img {
        width: 200px;
    }
    .content, .header {
        width: 360px;
    }
    .column {
        width: 360px;
    }
    .image {
        width: 360px;
        height: 360px;
    }
    .image.large {
        width: 360px;
        height: 360px;
    }
    .large-image .main-image {
        width: 360px;
    }
    .about-link {
        margin-top: 0;
    }

}
