<div class="large-image">
    {% if previous_image_url %}
        <a href="{{ previous_image_url }}" class="prev-arrow"></a>
    {% endif %}
    {% if next_image_url %}
        <a href="{{ next_image_url }}" class="next-arrow"></a>
    {% endif %}
    <a href="{{ image.get_original_url }}" target="_blank" class="original">
        <img src="{{ image.get_large_url }}">
    </a>
    <div class="meta">
        <a href="https://twitter.com/share?url=http://earthlens.org{{ image.get_absolute_url }}&amp;text=Check+out+this+great+picture+of+Earth!&amp;via=earth_lens&amp;related=spacelog" data-count="none" class="twitter-share-button">Tweet</a>
        {% if user %}
            <a class="edit-link" href="/rate/?image={{ image.pk }}">Rate</a>
            <a class="edit-link" href="/tagger/?image={{ image.pk }}">Tag</a>
            {% if user.is_staff %}
                {% if image.in_group %}
                    <a class="edit-link unmark-group" href="/tagger/?image={{ image.pk }}">Unmark group</a>
                {% else %}
                    <a class="edit-link mark-group" href="/tagger/?image={{ image.pk }}">Mark group</a>
                {% endif %}
            {% endif %}
        {% endif %}
        <h2>{{ image.geographic_name|title }}</h2>
        <ul>
            <li>
                {% if image.get_descriptive_date %}
                    {{ image.get_descriptive_date }}. 
                {% endif %}
                Taken by the crew of <a href="{% url "mission" image.mission.code %}">{{ image.mission.name|default:image.mission.code }}</a>.
            </li>
            <li class="more">{{ image.description }}</li>
            <li class="more">Taken with a {{ image.camera_model_text }}, {{ image.focal_length_text }}, orbiting at {{ image.nadir_latitude }} {{ image.nadir_longitude }} at {{ image.tilt_text}}</li>
        </ul>
    </div>
</div>
<script>
    $(".large-image .meta").click(function (ev) {
        if (ev.target.tagName != "A") {
            $(".more").fadeToggle("fast");
            ev.preventDefault();
            return false;
        }
    })
    $(".large-image .mark-group").click(function (ev) {
        $.ajax({
            url: "{{ image.get_absolute_url }}",
            method: "POST",
            data: {group: true, csrfmiddlewaretoken: "{{ csrf_token }}"},
            success: function () {
                $(".next-arrow").click();
            }
        })
        ev.preventDefault();
        return false;
    })
    $(".large-image .unmark-group").click(function (ev) {
        $.ajax({
            url: "{{ image.get_absolute_url }}",
            method: "POST",
            data: {group: false, csrfmiddlewaretoken: "{{ csrf_token }}"},
            success: function () {
                $(".next-arrow").click();
            }
        })
        ev.preventDefault();
        return false;
    })
    $(".large-image .more").hide();
    if (twttr) {
        twttr.widgets.load();
    }
</script>
