{% extends "base.html" %}

{% block body_class %}about{% endblock %}

{% block content %}
    <div class="main-column">
        <h2>What is Earth Lens?</h2>
        <p>
            For over forty years, astronauts have orbited Earth, looking down
            and admiring their home planet from space. Armed with cameras,
            they take photos of Earth - for scientific reasons, for people back
            home, or just because something looks interesting.
        </p>
        <p>
            Earth Lens takes these photos - published by NASA - and curates
            them, letting you easily see the best photos from different missions.
        </p>

        <h2>The team behind Earth Lens</h2>
        <p>
            Earth Lens is an entirely volunteer effort, and was built by a
            core team of four people, with many others helping to rate and
            classify the thousands of photos.
        </p>
        <h3>The core team</h3>
        <p>
            <a href="#">Russ Garret</a>, <a href="#">Alex Lee</a>, <a href="#">Andrew Godwin</a> &amp; <a href="#">Mazz Mosley</a>
        </p>
        <h3>Contributors</h3>
        <p>
            James Aylett, Neil Kimmett, Adam Johnson, Elly Williams, Alex Stapleton, James Coglan &amp; Ben Firshman
        </p>

        <h2>Made on an island</h2>
        <p>
            Earth Lens is a <a href="http://www.devfort.com">/dev/fort</a> project,
            meaning that it was created in just one week, in isolation, on the Isle
            of Eigg in Scotland.
        </p>
        <p>
            For six days we lived and worked together in Glebe Barn, sharing both
            design and product work and household work like cooking and cleaning,
            on an island that houses just 100 people. Between walks and meals, we
            designed, implemented and curated the first version of Earth Lens,
            complete with four missions' photos - <a href="/mission/sl2/">SkyLab 2</a>,
            <a href="/mission/sl3/">SkyLab 3</a>, <a href="/mission/sl4/">SkyLab 4</a>
            and <a href="/mission/iss036/">ISS Expedition 36</a>.
        </p>
    </div>
    <div class="right-column">
        <h3>We recommend</h3>
        <ul class="recommended">
            <li>
                <img src="/static/images/spacelog-logo.png">
                <h4>Spacelog</h4>
                <p>Stories of early space exploration from the original transcripts.</p>
            </li>
        </ul>
    </div>
{% endblock %}
