{% extends "base.html" %}

{% block body_class %}about{% endblock %}

{% block content %}
    <div class="main-column">
        <h2>What is Earth Lens?</h2>
        <p>
            For over forty years, astronauts have orbited Earth, looking down
            and admiring their home planet from space. Armed with cameras,
            they take photos of Earth - for scientific reasons, for people back
            home, or just because something looks interesting.
        </p>
        <p>
            Earth Lens takes these photos - published by NASA - and curates
            them, letting you easily see the best photos from different missions.
            We launched with four missions' photos - <a href="/mission/sl2/">SkyLab 2</a> (May 1973),
            <a href="/mission/sl3/">SkyLab 3</a> (July 1973), <a href="/mission/sl4/">SkyLab 4</a> (November 1973)
            and <a href="/mission/iss036/">ISS Expedition 36 (2013)</a>.
        </p>

        <h2>Copyright</h2>
        <p>
            The source images for Earth Lens are provided by NASA and are in the
            public domain. Earth Lens does not claim copyright on the processing
            we perform on these photographs.
        </p>
        <p>
            The source code for the Earth Lens site is also public domain under
            the <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC-0</a>
            license and is <a href="https://github.com/spacelog/earthlens">available
            on GitHub</a>.
        </p>
        <p>
            Some of the geographic name data comes from 
            <a href="http://www.geonames.org/">GeoNames</a> and is licensed under the
            <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY-3.0</a> license.
        </p>

        <h2>The team behind Earth Lens</h2>
        <p>
            Earth Lens is an entirely volunteer effort, and was built by a
            core team of four people, with many others helping to rate and
            classify the thousands of photos.
        </p>
        <h3>The core team</h3>
        <p>
            <a href="http://russ.garrett.co.uk/">Russ Garrett</a>, <a href="http://alexlee.co.uk">Alex Lee</a>, <a href="#">Andrew Godwin</a> &amp; <a href="https://twitter.com/mnowster">Mazz Mosley</a>
        </p>
        <h3>Contributors</h3>
        <p>
            Adam Johnson, Alex Stapleton, Ben Firshman, David Brownlee, David Thompson, Elly Williams, James Aylett, James Coglan, Louise Downe, Mark Hurrell, Mark Norman Francis, Meri Williams, Neil Kimmett &amp; Ryan Alexander
        </p>

        <h2>Made on an island</h2>
        <p>
            Earth Lens is a <a href="http://www.devfort.com">/dev/fort</a> project,
            meaning that it was created in just one week, in isolation, on the Isle
            of Eigg in Scotland.
        </p>
        <p>
            For six days we lived and worked together in Glebe Barn, sharing both
            design and product work and household work like cooking and cleaning,
            on an island that houses just 100 people. Between walks and meals, we
            designed, implemented and curated the first version of Earth Lens.
        </p>
    </div>
    <div class="right-column">
        <h3>We recommend</h3>
        <ul class="recommended">
            <li>
                <a href="http://www.spacelog.org">
                    <img src="/static/images/spacelog-logo.png">
                    <h4>Spacelog</h4>
                    <p>Stories of early space exploration from the original transcripts</p>
                </a>
            </li>
            <li>
                <a href="http://www.devfort.com">
                    <img src="/static/images/devfort-logo.png">
                    <h4>/dev/fort</h4>
                    <p>Building things in remote locations since 2008</p>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
