{% extends "base.html" %}

{% block content %}
    <div class="large-image">
        <img src="{{ image.get_large_url }}">
        <h2>{{ image.geographic_name|title }}</h2>
        <ul>
            {% if image.get_descriptive_date != None %}
                <li>Date: {{ image.get_descriptive_date }}</li>
            {% endif %}
            <li>Taken during <a href="#TODO">{{ image.mission.name }}</a></li>
            <li>{{ image.description }}</li>
            <li>Taken with a {{ image.camera_model_text }}, {{ image.focal_length_text }}, orbiting at {{ image.nadir_latitude}} {{ image.nadir_longitude }} at {{ image.tilt_text}}</li>
        </ul>
    </div>
{% endblock %}
