{% extends "base.html" %}

{% block content %}
    {% for row in rows %}
        {% if row|length == 5 %}
            <div class="row row-5">
                <div class="column">
                    {% include "_image_square.html" with image=row.1 %}
                    {% include "_image_square.html" with image=row.2 %}
                </div>
                {% include "_image_square.html" with image=row.0 extra_classes="large" %}
                <div class="column">
                    {% include "_image_square.html" with image=row.3 %}
                    {% include "_image_square.html" with image=row.4 %}
                </div>
            </div>
        {% else %}
            <div class="row">
                {% for image in row %}
                    {% include "_image_square.html" %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
