{% extends "base.html" %}

{% block extra_head %}
    <script>
        var next_offset = {{ page_size }};
        var loading = false;
        var original_url = document.location.href;

        var load_more = function () {
            // Make sure only one fetch runs at a time
            if (loading) return;
            ga('send', 'pageview');
            loading = true;
            $(".load-more").addClass("loading");
            // Make the AJAX call
            $.ajax({
                url: '.?offset=' + next_offset,
                success: function(data) {   
                    $('.image-grid').append(data);
                    next_offset += {{ page_size }};
                    loading = false;
                    $(".load-more").removeClass("loading");
                    make_it_slidy();
                },
                error: function () {
                    // On error, disable load more/infinite scroll
                    load_more = function () {};
                    $(".load-more").hide();
                    loading = false;
                    $(".load-more").removeClass("loading");
                }
            });
        }

        var make_it_slidy = function () {
            // Remove any old
            $(".image").unbind("mouseenter").unbind("mouseleave");
            // Add it in
            $(".image span").css({bottom: -50});
            $(".image").hover(function () {
                $(this).find("span").animate({bottom: 0}, 100);
            }, function () {
                $(this).find("span").animate({bottom: -50}, 100);
            })
        }

        var open_lightbox = function () {
            $(".lightbox").remove();
            $("body").append("<div class='lightbox'><img src='/static/images/close-button.png' class='close'></div>");
            $(".lightbox").click(close_lightbox)
            $("body").css({overflow: "hidden"});
        }

        var close_lightbox = function () {
            $("body").css({overflow: "auto"});
            $(".lightbox").remove();
            window.history.replaceState({}, $("title").text(), original_url);
        }

        var hide_tags = function () {
            $(".show ul.enhanced").hide();
            $(".show").addClass("closed");
        }

        var show_tags = function() {
            $(".show").toggleClass("closed");
            $(".show").toggleClass("open");
            $(".show ul.enhanced").slideToggle();
        }

        var make_show_all_clicky = function() {
            $(".show h2").bind("click", function() {
                show_tags();
            });
        }

        $(function () {
            hide_tags();
            make_show_all_clicky();
            $("body").addClass("hasJS");

            // Load more manual
            $(".load-more").click(load_more);
            // Load more auto
            $(window).scroll(function () {
                if ((window.innerHeight + window.scrollY + 200) >= document.body.offsetHeight) {
                    load_more();
                }
            })
            // Slidy description panes
            make_it_slidy();
            // Override real linkage into javascript ballooniness
            $(document).on("click", ".image, .next-arrow, .prev-arrow", function (ev) {
                // Open lightbox
                open_lightbox();
                ga('send', 'pageview');
                url = $(this).attr("href");
                if (!url) {
                    url = $(this).find("a").attr("href");
                }
                if (window.history && window.history.replaceState) {
                    window.history.replaceState({}, $("title").text(), url.substring(0, url.indexOf("?")));
                }
                $.ajax({
                    url: url + "&ajax=1",
                    success: function(data) {   
                        $(".lightbox").append(data);
                    },
                });
                // Don't cascade
                ev.preventDefault();
                return false;
            })
            // Absorb lightbox scrolls
            // Escape closes close_lightbox
            $("body").keydown(function (event) {
                if (event.which == 27) {
                    close_lightbox();
                } else if (event.which == 37) {
                    $(".prev-arrow").click();
                } else if (event.which == 39) {
                    $(".next-arrow").click();
                } else if (event.which == 81) {
                    $(".mark-group").click();
                } else if (event.which == 87) {
                    $(".unmark-group").click();
                }
            });
        })
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="show">
        <h2>Showing all {% if current_mission %}{{ current_mission.name }} {% endif %}images{% if current_tag %} for {{ current_tag.name }}{% endif %}</h2>
        <ul class="enhanced">
        {% for tag in tags %}
            <li>
                <a href="{% url 'tag' tag.slug %}">
                    <img src="{{ tag.descriptive_image.get_square_url }}" width="100" height="100">
                    <span>{{ tag.name }}</span>
                </a>
            </li>
        {% endfor %}
        {% if current_mission or current_tag %}
            <li class="show-all"><a href="/">Show all images</a></li>
        {% endif %}
        </ul>
    </div>

    <div class="image-grid">
        {% include "_index_rows.html" %}
    </div>
    <p class="load-more">Load more</p>
</div>
{% endblock %}
