{% extends "base.html" %}

{% block extra_head %}
    <script>
        var next_offset = {{ page_size }};
        var loading = false;

        var load_more = function () {
            // Make sure only one fetch runs at a time
            if (loading) return;
            loading = true;
            $(".load-more").addClass("loading");
            // Make the AJAX call
            $.ajax({
                url: '.?offset=' + next_offset,
                success: function(data) {   
                    $('.image-grid').append(data);
                    next_offset += {{ page_size }};
                    loading = false;
                    $(".load-more").removeClass("loading");
                    make_it_slidy();
                },
                error: function () {
                    // On error, disable load more/infinite scroll
                    load_more = function () {};
                    $(".load-more").hide();
                    loading = false;
                    $(".load-more").removeClass("loading");
                }
            });
        }

        var make_it_slidy = function () {
            // Remove any old
            $(".image").unbind("mouseenter").unbind("mouseleave");
            // Add it in
            $(".image span").css({bottom: -50});
            $(".image").hover(function () {
                $(this).find("span").animate({bottom: 0});
            }, function () {
                $(this).find("span").animate({bottom: -50});
            })
        }

        $(function () {
            // Load more manual
            $(".load-more").click(load_more);
            // Load more auto
            $(window).scroll(function () {
                if ((window.innerHeight + window.scrollY + 200) >= document.body.offsetHeight) {
                    load_more();
                }
            })
            // Slidy description panes
            make_it_slidy();
        })
    </script>
{% endblock %}

{% block content %}
    <div class="image-grid">
        {% include "_index_rows.html" %}
    </div>
    <p class="load-more">Load more</p>
{% endblock %}
