{% extends "base.html" %}

{% block extra_head %}
    <script>
        $(function () {
            $("body").keydown(function (event) {
                if (event.which == 89) {
                    $("input[name=good]").click();
                } else if (event.which == 78) {
                    $("input[name=good]").click();
                } else if (event.which == 72) {
                    $("input[name=neutral]").click();
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="rate">
        {% if image %}
            <img src="{{ image.get_large_url }}" width="750">
            <form action="{% url "image" image.pk %}" method="POST" class="rating">
                {% csrf_token %}
                <input type="hidden" name="next" value="/rate/?prev={{ image.pk }}">
                <input type="submit" class="rating good" name="good" value="Good (y)">
                <input type="submit" class="rating neutral" name="neutral" value="Neutral (h)">
                <input type="submit" class="rating bad" name="bad" value="Bad (n)">
                ID {{ image.pk }}
                <a href="/logout/">Logout</a>
            </form>
            {% if prev_image %}
                <div class="previous-image">
                    Previous image: <a href="{% url "image" prev_image.pk %}">{{ prev_image }}</a>
                </div>
            {% endif %}
        {% else %}
            All rated! You're amazing!
        {% endif %}
    </div>
{% endblock %}
