{% extends "base.html" %}

{% block extra_head %}
    <script>
        $(function () {
            $("body").keydown(function (event) {
                if (event.which >= 49 && event.which <= 57) {
                    $("input.keyboard-" + (event.which - 48)).click();
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="rate">
        {% if image %}
            <form action="{% url "tag" %}" method="POST" class="rating">
                {% csrf_token %}
                <input type="hidden" name="image" value="{{ image.pk }}">
                <input type="hidden" name="next" value="/tag/?prev={{ image.pk }}">
                {% for tag in tags %}
                    <input type="submit" class="tag keyboard-{{ forloop.counter }}" name="tag" value="{{ tag.name }} ({{ forloop.counter }})">    
                {% endfor %}
                
                ID {{ image.pk }}
                <a href="/logout/">Logout</a>
            </form>
            <img src="{{ image.get_large_url }}">
            {% if prev_image %}
                <div class="previous-image">
                    Previous image: <a href="{% url "image" prev_image.pk %}">{{ prev_image }}</a>
                </div>
            {% endif %}
        {% else %}
            All rated! You're amazing!
        {% endif %}
    </div>
{% endblock %}
